<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="icon" href="{% static 'images/main-logo.png'%}">
    <link rel="stylesheet" href="{% static 'css/contact.css'%}" />
  </head>
  <body>
    <!-- nav bar -->
    <nav>
      <div class="nav-bar">
        <div class="logo"><img src="{% static 'images/main-logo.png'%}" alt="" /></div>
        <div class="menu-icon">☰</div>
        <div class="close-icon">✖</div>
        <ul class="links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li>
            <a href="{% url 'services' %}"
              >Services
              <i class="fa fa-chevron-down"></i>
            </a>
          </li>
          <li><a href="{% url 'investment' %}">Investment Plans</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
      </div>
      
    </nav>
    <!-- end of nav bar -->
    <!-- main -->
    <!-- first section  -->
    <section class="first-section">
      <div class="text">
        <h1 class="h1">Contact</h1>
        <ul class="link">
          <li><a href="{% url 'home' %}">Home/</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
      <div class="container">
        <h2 class="blue">
          Contact Us <br />
          Our UK Office
        </h2>
        <div class="first-con">
          <div class="item">
            <h2>Address</h2>
            <br />
            <p>
              30 moorgate, London EC2R 6DN, United <br />
              Kingdom.
            </p>
          </div>
          <div class="item">
            <h2>Phone</h2>
            <br />
            <p><a href="">+447458945486</a></p>
          </div>
          <div class="item">
            <h2>Email</h2>
            <br />
            <p><a href="">Wealthwise049@gmail.com</a></p>
            <br />
            <p><a href="">Wealthwise049@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="main-con">
        <div class="second-con">
          <div>
            <h2>Contact Us</h2>
            <h1>Keep In Touch</h1>
            <p>
              Dont be shy, Just tell us about yourself and we’ll figure out the
              best option for you and your project. Dont like Filling up forms ?
            </p>
          </div>
          <div>
            <span> <i class="fa fa-phone"></i>support@Wealthwise.com</span>
            <br />
            <span><i class="fa fa-phone"></i>+447458945486</span>
          </div>
        </div>
        <div class="third-con">
          <form action="post">
            <input
              type="text"
              name=""
              id=""
              placeholder="FullName..."
              required
            />
            <input
              type="email"
              name=""
              id=""
              placeholder="Email Address..."
              required
            />
            <input type="text" name="" id="" placeholder="Websites..." />
            <textarea name="" id="" placeholder="Messages..."></textarea>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <!-- footer section -->
    <footer>
      <div class="footer-con">
        <div class="para">
          <p>
            Investing involves substantial risk and high volatility, including
            possible loss of principal. Bonds and bond funds will decrease in
            value as interest rates rise. An investor should consider the
            investment objective, risks, charges and expenses of the Fund
            carefully before investing.
          </p>
        </div>
        <div class="fin">
          <h2>Financial News</h2>
          <br />
          <p><a href="">Financial times</a></p>
          <br />
          <p><a href="">The Wall Street Journal</a></p>
          <br />
          <p><a href=""></a>Bloombreg</p>
          <br />
          <p><a href="">Zero Hedge</a></p>
        </div>
        <div class="leg">
          <h2>Legal</h2>
          <br />
          <p><a href="./images/certificate.pdf">View Certificate</a></p>
          <br />
          <p><a href="./images/whitepaper.pdf">View Whitepapers</a></p>
          <br />
          <p><a href="./images/annual.pdf">View Annual Report</a></p>
        </div>
        <div class="in">
          <h2>Get InTouch With Us</h2>
          <br />
          <p>
            <a href="">4 Tyne View, Newcastle Upon Tyne, England, NE15 8DE</a>
          </p>
          <br />
          <p><a href="">T : +447458945486</a></p>
          <br />
          <p><a href="">E : Wealthwise049@gmail.com</a></p>
          <br />
          <p><a href="">E : Wealthwise049@gmail.com</a></p>
        </div>
      </div>
      <br />
      <div class="linef"></div>
      <p class="copy">Copyright © Wealthwise.com 2022 All Rights Reserved</p>
    </footer>
  </body>
  <script src="{% static 'js/script.js'%}"></script>
  <script src="{% static 'js/all.js'%}"></script>
</html>
