{% extends 'dashboard.html' %}
{% load static %}
{% block content %}


          <h2>Re-invest</h2>
          <div class="container">
            <div class="item bars-icon"><i class="fa fa-bars icon"></i></div>
            <div class="con2">
              <div class="item"><i class="fa fa-user icon"></i></div>
              <div class="item"><i class="fa fa-cog icon"></i></div>
            </div>
          </div>
          <div class="fourth-container">
            <div class="third-wrapper">
              <div class="small-items">
                <div>
                  <h1>Wallet</h1>
                  <p>Balance</p>
                </div>
                <span>${{ wallet.balance }}</span>
              </div>

              <div class="small-items">
                <div>
                  <h1>Deposit</h1>
                  <p>Approved deposits</p>
                </div>
                <span>$0.00</span>
              </div>
              <div class="small-items">
                <div>
                  <h1>Withdrawal</h1>
                  <p>Approved withdrawals</p>
                </div>
                <span>$0.00</span>
              </div>
            </div>
            <form class="first-form" method="post">
                {% csrf_token %}
              {{ deposit_form.as_p }}
              <div class="fourth-wrapper">
                <h3>Deposit</h3>
                <p>
                  Payment Instructions: Kindly type in the amount you wish to
                  invest and click on INVEST to Proceed. Amount must be in plain
                  figures and default currency is USD($). Example: Simply type
                  in 1000 if you wish to invest $1,000.
                </p>
                <i class="fa fa-times"></i>
              </div>
              <hr />
              <p>Select Plan</p>
              <select name="" id="">
                <option value="">Bronze</option>
                <option value="">Premium</option>
                <option value="">Platinum</option>
                <option value="">Diamond</option>
                <option value="">Vip</option>
              </select>
              <p>Select Method</p>
              <select name="" id="">
                <option value="">Bitcoin</option>
                <option value="">Ethereum</option>
                <option value="">Usdt(trc20)</option>
            </select>
              <p>Amount($)</p>
              <input type="text" placeholder="Amount" />
              <hr />
              <button type="submit" class="btn2" name="deposit">
                Submit <i class="fa fa-arrow-right"></i>
              </button>
            </form>
            <img src="{% static 'images/download (5).png'%}" alt="" class="img2" />
          </div>
      
        {% endblock %}